
<div class="explore-container">
    <div *ngFor="let post of publicacionesPopulares" class="explore-post">
      <img [src]="post.imagen" alt="Publicación">
      <div class="overlay">
        <div class="user-info">
          <img [src]="post.usuario.avatar" alt="Avatar">
          <span class="username">{{ post.usuario.username }}</span>
        </div>
        <div class="post-details">
          <span class="likes"><i class="fas fa-heart"></i> {{ post.likes }}</span>
          <span class="comments"><i class="fas fa-comment"></i> {{ post.comments }}</span>
        </div>
      </div>
    </div>
  </div>
  
