<section class="notifications">
    <div *ngIf="notifications.length > 0; else noNotifications">
      <div *ngFor="let notification of notifications">
        <div class="notification-item">
          <img [src]="notification.sender.profileImage" alt="Perfil" (error)="handleImageError($event, notification)">
          <div class="notification-content">
            <p>
              <span class="sender-name">{{ notification.sender.username }}</span>
              {{ notification.message }}
            </p>
            <p class="notification-time">{{ notification.time | date: 'medium' }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noNotifications>
      <p>No tienes nuevas notificaciones.</p>
    </ng-template>
  </section>
