<section class="messages">
    <div *ngIf="messages.length > 0; else noMessages">
      <div *ngFor="let message of messages">
        <div class="message-item" [ngClass]="{ 'connected': message.connected }">
          <img [src]="message.sender.profileImage" alt="Perfil">
  
          <div class="message-content">
            <p>
              <span class="sender-name">{{ message.sender.username }}</span>
              {{ message.content }}
            </p>
            <p class="message-time">{{ message.time | date: 'medium' }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noMessages>
      <p>No hay mensajes disponibles.</p>
    </ng-template>
  </section>
  
